@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

$clr-black: #030303;
$clr-white: #fff7f0;
$clr-gray-1: #78716b;
$clr-gray-2: #bbb4ac;

$clr-blue: #755cde;
$clr-orange: #f5a460;
$clr-teal: #62c4b7;
$clr-plum: #55204a;
$clr-red-1: #f39d9e;
$clr-red-2: #e97661;

$fnt-sans: "Poppins", sans-serif;
$fnt-w: (
  "reg": 400,
  "bld": 600
);
