@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

$full-slider: hsl(174, 77%, 80%);
$slider-bg: hsl(174, 86%, 45%);
$empty-slider-bg: hsl(224, 65%, 95%);

$discount-bg: hsl(14, 92%, 95%);
$discount-text: hsl(15, 100%, 70%);

$cta-text: hsl(226, 100%, 87%);
$cta-bg: hsl(227, 35%, 25%);

$pricing-component-bg: hsl (0, 0%, 100%);
$main-bg: rgb(249,250,255);
$toggle-bg: hsl(223, 50%, 87%);
$text: hsl(225, 20%, 60%);

$main-font: 'Manrope', 'Segoe UI', sans-sherif;
$fnt-medium: 600;
$fnt-bold: 800;

$small-screen: 374px;
$large-screen: 600px;
