@use "../base/variables" as *;

.card {
    background-color: $indigo-100;
    max-width: $card-m-width;
    border-radius: $card-radius;

    padding-block: 1rem;
    padding-inline: 2rem;

    color: $grey-100;

    &__accent {
        color: $light-green;
    }

    &__text {
        text-transform: capitalize;
    }

}


.output-card {
    @extend .card;
    display: flex;

    &__input {
        flex: 80%;
        font-size: 1.6rem;
        color: $grey-100;
    }

    &__input:focus {
        outline: none;
    }
}

.input-card {
    @extend .card;

    .card__accent {
        font-size: 2rem;
    }

    .slider {
        width: 100%;
    }
}
