:root {
  --svelte-flair: hsl(14, 100%, 50%);
  --vue-flair: hsl(153, 48%, 46%);
  --javascript: hsl(54, 83%, 51%);
  --css-flair: hsl(205, 79%, 38%);
  --html-flair: hsl(13, 71%, 49%);
  --border-radius: 15px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--main-bg);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  --main-bg: #e9e5e2;
  --card-bg: #f4f2f1;
  --title: #000000;
  --content: #605e5c;
  --darker-primary: #106ebe;
  --primary: #0078d7;
  --box-shadow: 0 5px 15px 0 rgba(19, 19, 19, 0.1)
}

body.dark {
  --card-bg: #191919;
  --main-bg: #292827;

  --title: #edebe9;
  --content: #bebbb8;

  --darker-primary: #106ebe;
  --primary: #0078d7;
  --box-shadow: 0 5px 15px 0 rgba(19, 19, 19, 0.5)
}

.navbar {
  display: flex;
  padding: 1em 1em;
  justify-content: space-between;
  border-bottom: 2px solid var(--darker-primary);
  background: var(--card-bg);
  align-items: center;
}

.navbar h1 {
  color: var(--title);
}

.nav__links a {
  text-decoration: none;
  color: var(--content);
  font-size: 2em;
  margin-right: 20px;
  opacity: 0.6;
}

.theme-toggle {
  margin-right: 20px;
  opacity: 0.6;
  background: none;
  color: var(--content);
  font-size: 2em;
  border: none;
  cursor: pointer;
}

.nav__links button:hover {
  opacity: 1;
}

.nav__links a:hover {
  opacity: 1;
}

.flair {
  background: var(--main-bg);
  border-radius: 10%;
  padding: 3px 4px;
  color: var(--content);
  font-size: 0.8em;
}

.card__labels {
  font-size: 15px;
  padding-top: 0.5em;
  display: flex;
  column-gap: 1em;
  row-gap: 0.5em;
  flex-wrap: wrap;
}

.card-container {
  margin: 2em auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5em;
}

.card {
  width: 30%;
  max-width: 350px;
  background: var(--card-bg);
  border-radius: var(--border-radius);

  transition: box-shadow .5s ease-in;
  transition: transform .1s ease-in;
}

.card:hover {
  box-shadow: var(--box-shadow);
  transform: translateY(-2%);

}

.card img {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  filter: brightness(90%);
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 0.5em 1em;
}

.card__title {
  color: var(--title);
  font-size: 1.4em;
}

.card__body {
  color: var(--content);
}

.card__img {
  width: 100%;
}

.card__img > img {
  width: 100%;
}

.card__links {
  margin: 1em 0;
  display: flex;
  gap: 1em;
}

.card__links a {
  color: var(--primary);
  text-decoration: none;
  font-size: 1em;
}

.card__links a:hover {
  color: var(--darker-primary);
  text-decoration: underline;
}

.card-container a::after {
  content: "\f35d";
  font: normal normal normal 11px/1 FontAwesome;
  text-decoration: none;
  margin-left: 3px;
}

@media only screen and (max-width: 751px) {
  .card-container {
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 50%;
    min-width: 350px;
  }
  .navbar {
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (max-width: 381px) {
  .card {
    min-width: 85%;
  }
  .card__title {
    font-size: 1.1em;
  }

  .card__links {
    font-size: 0.9em;
  }

  .navbar {
    padding: 1.5em 0.5em;
    text-align: center;
  }

  .nav__links a {
    font-size: 1.5em;
    margin: 0;
  }

  .theme-toggle {
    margin: 0;
    font-size: 1.5em;
  }

  .navbar h1 {
    font-size: 1.5em;
    margin: 10px 0;
  }

  .nav__links {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
  }

  .card__labels {
    font-size: 0.8em;
  }

  .card__content {
    display: flex;
    flex-direction: column;
    padding: 1em 0.5em;
  }
}
