:root {
 --svelte-flair: hsl(14,100%,50%);
 --vue-flair: hsl(153,48%,46%);
 --js-flair: hsl(54,83%,51%);
 --css-flair: hsl(205,79%,38%);
 --html-flair: hsl(13,71%,49%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--main-bg);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  --main-bg: #f4f2f1;
  --card-bg: #fff;
  --title: #000000;
  --content: #605e5c;
  --darker-primary: #106ebe;
  --primary: #0078d7;
}


body.dark {
  --card-bg: #191919;
  --main-bg: #292827;

  --title: #edebe9;
  --content: #bebbb8;

  --darker-primary: #106ebe;
  --primary: #0078d7;
}

.navbar {
    display: flex;
    padding: 1.5em 1em;
    justify-content: space-between;
    border-bottom: 2px solid var(--darker-primary);
    background: var(--card-bg);
    color: white;
    align-items: center;
}

.nav__links a {
    text-decoration: none;
    color: var(--content);
    font-size: 2em;
    margin-right: 20px;
    opacity: .6;
}

.nav__links a:hover {
    opacity: 1;
}

.flair {
    background: var(--main-bg);
    border-radius: 10%;
    padding: 3px;
    color: var(--content);
}

.card__labels {
    font-size: 15px;
    padding-top: .5em;
    display: flex;
    column-gap: 1em;
}

.card-container {
   margin: 2em 1em;
   justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5em;
}

.card {
  width: 30%;
  max-width: 350px;
  background: var(--card-bg);
  border: 0.1px solid var(--primary);
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: 1em 1em .5em 1em;
}

.card__title {
  color: var(--title);
  font-size: 1.4em;
}

.card__body {
  color: var(--content);
}

.card__img {
  width: 100%;
}

.card__img > img {
  width: 100%;
}

.card__links {
  margin: 1em 0;
  display: flex;
  gap: 1em;
}

.card__links a {
  color: var(--primary);
  text-decoration: none;
  font-size: 1em;
}

.card__links a:hover {
  color: var(--darker-primary);
  text-decoration: underline;
}

@media only screen and (max-width: 751px) {
  .card-container {
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 50%;
    min-width: 350px;
  }
  .navbar {
      flex-direction: column;
      justify-content: center;
  }
}

@media only screen and (max-width: 381px) {
  .card {
    min-width: 95%;
  }
  .card__title {
    font-size: 1.4em;
  }



}
