@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

// Primary
$moderate-blue: hsl(238, 40%, 52%);
$soft-red: hsl(358, 79%, 66%);
$light-grayish-blue: hsl(239, 57%, 85%);
$pale-red: hsl(357, 100%, 86%);

// Neutral
$dark-blue: hsl(212, 24%, 26%);
$grayish-blue: hsl(211, 10%, 45%);
$light-gray: hsl(223, 19%, 93%);
$very-light-gray: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

$fnt-wght: (
  "reg": 400,
  "med": 500,
  "bold": 700,
);

$main-fnt: "Rubik", Arial, sans-sherif;
