/* Fraunces; Barlow */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --graphic-design-text: hsl(167, 40%, 24%);
  --photography-text: hsl(198, 62%, 26%);

  --footer: hsl(168, 34%, 41%);
  --footer-bg: hsl(210, 4%, 67%);

  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --white: hsl(0, 0%, 100%);

  --f-medium: 600;
  --tf-bold: 700;
  --tf-bolder: 900;
  --blue: rgb(60, 189, 254);

  --alt-font: Fraunces;
  --main-font: Barlow;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

main {
  position: relative;
  text-align: center;
  background: var(--blue);
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: skyblue;
  padding: 1.5em 2rem;
  background: var(--blue);
}

.show {
  left: 50% !important;
}

.nav__list {
  font-family: var(--main-font);
  font-weight: var(--f-medium);

  position: absolute;
  top: 15%;
  left: 150%;
  transform: translateX(-50%);
  background: var(--white);
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  gap: 2rem;
  width: calc(90% - 2rem);
  list-style: none;
  transition: 0.5s ease-in-out;
  font-size: 0.9rem;
}

.nav__list::before {
  /* TODO - Implement this */
  content: "";
  width: 0px;
  height: 0px;
  top: -25px;
  right: 0;
  position: absolute;
}

.contact {
  background: var(--yellow);
  padding: 1.2em 2em;
  border-radius: 2rem;
  color: black;
  font-family: var(--alt-font);
  font-weight: var(--tf-bold);
  text-transform: uppercase;
  font-size: 0.8rem;
  color: black !important;
}


.nav__list li a {
  text-decoration: none;
  color: var(--footer);
}

.logo {
  width: 100px;
  height: fit-content;
}

button.hamburger {
  background: none;
  border: none;
}

.main__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  gap: 1em;
}

.main__title {
  font-size: calc(5vw + 20px);
  color: var(--white);
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: var(--tf-bolder);
  text-align: center;
  font-family: var(--alt-font);
}

.main__arrow {
  width: 30px;
}

.mobile__header {
  width: 100%;
  max-width: 500px;
  vertical-align: bottom;
}

.desktop__header {
  display: none;
}

/***********************/
/***********************/
/******Mid-Section******/
/***********************/
/***********************/

.transform,
.stand-out {
  display: flex;
  flex-direction: column;
}

.transform__desktop,
.stand__desktop {
  display: none;
}

.stand__img-container,
.transform__img-container {
  width: 100%;
}

.stand__mobile,
.transform__mobile {
  display: block;
  width: 100%;
}

.transform__content,
.stand__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
  padding: 2rem 1rem;
}

.transform__title,
.stand__title {
  font-size: 1.7rem;
  font-weight: var(--tf-bold);
  font-family: var(--alt-font);
}

.transform__text,
.stand__text {
  font-family: var(--main-font);
  color: var(--dark-grayish-blue);
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.learn {
  text-decoration: none;
  font-family: var(--alt-font);
  color: black;
  letter-spacing: 2px;
  font-weight: var(--tf-bold);
  text-transform: uppercase;
  font-size: 0.8rem;
  position: relative;
}

.learn::before {
  content: "";
  height: 7px;
  width: 0;
  background: var(--yellow);
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  opacity: 0.2;
}

.learn:hover:before {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

/*************************/
/*************************/
/******Lower-Section******/
/*************************/
/*************************/

.graphic,
.photography {
  position: relative;
}

.graphic__desktop,
.photography__desktop {
  display: none;
}

.graphic__mobile,
.photography__mobile {
  display: block;
  width: 100%;
}

.graphic__content,
.photography__content {
  position: absolute;
  bottom: 10%;
  text-align: center;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.content__title {
  font-family: var(--alt-font);
  opacity: 0.7;
  margin-bottom: 1rem;
}

.photo-content__text {
  font-family: var(--main-font);
  line-height: 1.5rem;
  color: var(--photography-text);
  font-size: 0.9rem;
}

.graphic-content__text {
  font-family: var(--main-font);
  line-height: 1.5rem;
  color: var(--graphic-design-text);
  font-size: 0.9rem;
}

/*****************************/
/*****************************/
/******Lower Mid section******/
/*****************************/
/*****************************/

.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  gap: 2rem;
}

.section-3__testimonials {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3rem;
  width: 80%;
}

.section-3__title {
  font-family: var(--alt-font);
  margin: 1.5rem 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color: var(--dark-grayish-blue);
  font-weight: var(--tf-bold);
}

.client {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.client__text {
  font-family: var(--main-font);
  line-height: 1.5rem;
  color: var(--very-dark-grayish-blue);
  font-size: 0.9rem;
  max-width: 40ch;
}

.client__profile {
  width: 30%;
  max-width: 100px;
  border-radius: 50%;
}

.client__initials h2 {
  font-size: 1.1rem;
  color: var(--very-dark-desaturated-blue);
  font-family: var(--alt-font);
  margin-bottom: 0.5rem;
}

.client__initials small {
  font-family: var(--main-font);
  color: var(--footer);
}

/***********************/
/***********************/
/******Img gallery******/
/***********************/
/***********************/

.section-4__desktop {
  display: none;
}

.section-4__mobile {
  width: 100%;
}

.section-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


/******************/
/******************/
/******Footer******/
/******************/
/******************/

footer {
    background: var(--footer-bg);
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    position: relative;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.footer__nav {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.footer__nav li a {
    color: var(--very-dark-grayish-blue);
    font-family: var(--main-font);
    text-decoration: none;
    font-size: .9rem;
}

.social__links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.social__links svg {
    fill: #2C7566;
}

.social__links svg:hover {
    fill: var(--white) !important;
}

.footer__nav li a:hover {
    color: var(--white);
}

.footer__logo {
    width: 140px;
}

.attribution {
    position: absolute;
    bottom: 5%;
    font-size: .9rem;
    font-family: var(--main-font);
    color: var(--very-dark-grayish-blue);
}

.attribution a {
    color: var(--very-dark-grayish-blue);
}


@media only screen and (min-width: 850px) {
  .desktop__header {
    display: block;
    width: 100%;
  }

  .mobile__header {
    display: none;
  }

  .main__container {
    width: 100%;
    top: 40%;
  }

  .main__title {
    font-size: calc(3vw + 15px);
  }

  .hamburger {
    display: none;
  }

  .navbar {
    width: 100%;
    justify-content: space-between;
    padding: 2rem 2rem;
  }

  .logo {
    width: 120px;
  }

  .nav__list {
    position: static;
    flex-direction: row;
    padding: 0;
    font-weight: 400;
    width: fit-content;
    background: none;
    gap: 1.5rem;
    transform: none;
    margin-right: 4.5rem;
  }

  .contact {
    background: var(--white);
    padding: 0.9em 1.5em;
    text-transform: uppercase;
    color: var(--blue);
    font-size: 0.8rem;
  }

  .contact:hover {
      color: white !important;
    transition: .2s ease-in;
      background: hsla(0, 0%, 100%, 0.3);
  }

  .nav__list li a {
    color: white;
  }

  /***********************/
  /***********************/
  /******Mid-Section******/
  /***********************/
  /***********************/

  .transform,
  .stand-out {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .transform__img-container {
    order: 1;
  }

  .transform__content,
  .stand__content {
    padding: 0;
    align-items: center;
    gap: 2rem;
    text-align: left;
  }

  .transform__title,
  .stand__title {
    text-align: left;
    font-size: 2rem;
    font-weight: var(--tf-bolder);
    width: 80%;
  }

  .transform__text,
  .stand__text {
    text-align: left;
    font-size: 1rem;
    width: 80%;
  }

  /* messy handling of the link, should have wrapped the entire text content in
   * its own wrapper, but hey ¯\_(ツ)_/¯ */

  .learn {
    width: 80%;
  }

  /* Sadly due to this we have to remove ::before element */

  .learn:hover:before {
    display: none;
  }

  /*************************/
  /*************************/
  /******Lower-Section******/
  /*************************/
  /*************************/

  .graphic__mobile,
  .photography__mobile {
    display: none;
  }

  .graphic__desktop,
  .photography__desktop {
    display: block;
    width: 100%;
  }

  .section-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .content__title {
    font-family: var(--alt-font);
    opacity: 0.7;
    margin-bottom: 1rem;
  }

  .graphic__content,
  .photography__content {
    bottom: 5%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .photo-content__text {
    width: 80%;
  }

  .graphic-content__text {
    width: 80%;
  }

  /*****************************/
  /*****************************/
  /******Lower Mid section******/
  /*****************************/
  /*****************************/

  .section-3 {
    padding: 5rem;
  }

  .section-3__testimonials {
    flex-direction: row;
  }

  /***********************/
  /***********************/
  /******Img gallery******/
  /***********************/
  /***********************/

  .section-4__desktop {
    display: block;
    width: 100%;
  }

  .section-4__mobile {
    display: none;
  }

  .section-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
