@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Manrope", "Segoe UI", sans-sherif;
  background-color: rgb(249, 250, 255);
  background-image: url("../images/bg-pattern.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto auto;
}

main {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2em;
}

.hero__title {
  background-image: url("../images/pattern-circles.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2.5em 0;
}
.hero__title h2 {
  font-size: 1.4em;
  font-weight: 800;
  color: hsl(227deg, 35%, 25%);
}
.hero__title p {
  line-height: 1.5;
  color: hsl(225deg, 20%, 60%);
  font-size: 0.9em;
  margin-top: 0.5em;
}
.hero__title span {
  display: block;
}
@media only screen and (min-width: 600px) {
  .hero__title h2 {
    font-size: 1.7em;
  }
  .hero__title span {
    display: inline-block;
  }
}

.hero__card {
  width: 90%;
  max-width: 550px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 50px hsla(227deg, 35%, 25%, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7em;
  padding: 2em 0;
}
@media screen and (min-width: 600px) {
  .hero__card {
    gap: 2.2em;
  }
}
.hero__card .card__section {
  gap: 2em;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .hero__card .card__section {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
  }
}

.card__page-views {
  color: hsl(225deg, 20%, 60%);
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1.5px;
  font-size: 0.85em;
}

.card__pricing {
  display: flex;
  align-items: center;
  gap: 0.8em;
}
.card__pricing h1 {
  font-size: 2.5em;
  font-weight: 800;
  color: hsl(227deg, 35%, 25%);
}
.card__pricing p {
  color: hsl(225deg, 20%, 60%);
}

.card__slider {
  width: 90%;
}
.card__slider .slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.7em;
  background: hsl(174deg, 77%, 80%);
  border-radius: 20px;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
  outline: none;
}
.card__slider .slider:hover,
.card__slider .slider:focus {
  opacity: 1;
}
.card__slider .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 0 0 40px hsl(174deg, 86%, 45%);
  border-radius: 50%;
  background: hsl(174deg, 86%, 45%);
  background-image: url("../images/icon-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto auto;
  width: 40px;
  height: 40px;
}

.card__billing-plan {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
@media screen and (max-width: 374px) {
  .card__billing-plan {
    gap: 0.1em;
  }
}
.card__billing-plan .billing-plan__plan {
  font-size: 0.9em;
  color: hsl(225deg, 20%, 60%);
}
.card__billing-plan .billing-plan__plan--yearly {
  position: relative;
}
.card__billing-plan .billing-plan__plan--yearly::after {
  content: "-25%";
  position: absolute;
  right: -50%;
  top: 50%;
  transform: translateY(-50%);
  background: hsl(14deg, 92%, 95%);
  color: hsl(15deg, 100%, 70%);
  padding: 0.4em 0.5em;
  font-size: 0.8em;
  border-radius: 20px;
}
@media screen and (max-width: 400px) {
  .card__billing-plan .billing-plan__plan--yearly::after {
    left: 50%;
    top: 130%;
    transform: translateX(-50%);
    width: fit-content;
  }
}

.billing-plan__toggle {
  margin: 0 0.5em;
}

.billing-plan__toggle input[type="checkbox"] {
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  -webkit-appearance: none;
  opacity: 0.8;
  background: hsl(223deg, 50%, 87%);
  cursor: pointer;
  outline: none;
}
.billing-plan__toggle input[type="checkbox"]:hover,
.billing-plan__toggle input[type="checkbox"]:active {
  opacity: 1;
}
.billing-plan__toggle input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border-radius: 50%;
  transition: left 0.3s ease-in-out;
  left: 10%;
}
.billing-plan__toggle input[type="checkbox"]:checked::before {
  left: 60%;
}

.card__divider {
  width: 100%;
  height: 1px;
  background: hsl(227deg, 35%, 25%);
  border: none;
  opacity: 0.2;
}

.card__features {
  color: hsl(225deg, 20%, 60%);
  font-size: 1em;
  line-height: 1.5;
}
.card__features li {
  position: relative;
}
.card__features li::before {
  content: "";
  background-image: url("../images/icon-check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
}
@media only screen and (min-width: 600px) {
  .card__features li::before {
    left: -20px;
  }
}

.card__button {
  background: hsl(227deg, 35%, 25%);
  border: none;
  padding: 1.2em 2.7em;
  font-size: 0.8em;
  font-weight: 600;
  border-radius: 30px;
  color: hsl(226deg, 100%, 87%);
  cursor: pointer;
  transition: color 0.2s ease;
}
.card__button:hover {
  color: white;
}
@media only screen and (min-width: 600px) {
  .card__button {
    padding: 1em 2.5em;
  }
}

/*# sourceMappingURL=main.css.map */
