body {
  --main-bg: hsl(230, 17%, 14%);
  --top-bg: hsl(232, 19%, 15%);
  --card-bg: hsl(228, 28%, 20%);
  --text-1: hsl(228, 34%, 66%);
  --text-2: hsl(0, 0%, 100%);
  --toggle: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --hover: #333A56;
}

body.light {
  --main-bg: hsl(0, 0%, 100%);
  --top-bg: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --text-1: hsl(228, 12%, 44%);
  --text-2: hsl(230, 17%, 14%);
  --toggle: hsl(230, 22%, 74%);
  --hover: #E1E3F0;
}

$main-bg: var(--main-bg);
$top-bg:  var(--top-bg);
$card-bg: var(--card-bg);
$text-1:  var(--text-1);
$text-2:  var(--text-2);
$toggle:  var(--toggle);
$hover: var(--hover);