@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);

$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$youtube: hsl(348, 97%, 39%);

$border-radius: 10px;

$sml-screen: 375px;
$med-screen: 600px;
$lge-screen: 700px;

$main-font: 'Inter', 'Segoe UI', sans-sherif;
$f-regular: 400;
$f-bold: 700;
