$slider-bar: hsl(174, 86%, 45%);
$slider-bg: hsl(14, 92%, 95%);
$empty-slider-bg: hsl(224, 65%, 95%);

$discount-bg: hsl(15, 100%, 70%);
$card-bg: hsl(0, 0%, 100%);
$main-bg: hsl(230, 100%, 99%);
$main-text: hsl(225, 20%, 60%);

$toggle-bg: hsl(223, 50%, 87%);

$cta-text: hsl(226, 100%, 87%);
$cta-bg: hsl(227, 35%, 25%);
