$indigo-100: #24232b;
$indigo-200: #18171f;
$indigo-300: #14131b;

$bg-gradient: linear-gradient(180deg, $indigo-200, lighten(black, 5%));

$light-green: #a4ffaf;
$light-purple: #817e92;

$card-m-width: 500px;
$card-radius: 3px;

$slider-h: 6px;
$slider-thumb-w: 28px;

$grey-100: #fbfafc;
$grey-200: #57565e;
