@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

$pink: hsl(322, 100%, 66%);
$light-pink: hsl(321, 100%, 78%);
$light-red: hsl(0, 100%, 63%);
$very-dark-cyan: hsl(192, 100%, 9%);
$very-pale-blue: hsl(207, 100%, 98%);

$title-font: 'Poppins', 'Tahoma', sans-sherif;
$main-font: 'Open Sans', 'Verdana', sans-sherif;

$f-regular: 400;
$f-medium: 600;
$f-bold: 700;
