:root {
  --card-bg: hsl(246, 80%, 60%);
  --work: hsl(15, 100%, 70%);
  --play: hsl(195, 74%, 62%);
  --study: hsl(348, 100%, 68%);
  --exercise: hsl(145, 58%, 55%);
  --social: hsl(264, 64%, 52%);
  --care: hsl(43, 84%, 65%);

  --main-bg: hsl(226, 43%, 10%);
  --accent: hsl(236, 100%, 87%);

  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
}

* {
  margin: 0;
  padding: 0;
  font-family: Tahoma;
}

body {
  background: var(--main-bg);
  color: white;
  display: flex;
  justify-content: center;

}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 2em 0;
  gap: 1em;
}

.profile__card {
    display: flex;
    flex-direction: column;
    border-radius: 100px;
}

.profile__content {
    display: flex;
    padding: 1.5em 1em;
    background: var(--card-bg)
}
.profile__title small {
    color: var(--desaturated-blue);
}

.profile__title {
    width: 100%;
    padding: .5em;
}

.profile__card img {
    width: 25%;
    border: 2px solid white;
    border-radius: 50%;
}

.profile__btn {
    background: var(--dark-blue);
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.profile__btn button {
    background: none;
    border: none;
    color: var(--desaturated-blue);
    font-size: .9em;
}

.card {
    overflow: hidden;
    position: relative;
    padding-top: 2em;
    border-radius: 10px;
}

.card__icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

.card__subcontent {
    background: var(--dark-blue);
    position: relative;
    z-index: 2;
    border-radius: 15px 15px 10px 10px;
    padding: 1.2em 1em;
    display: flex;
    justify-content: space-between;
}

.card__subcontent section {
    display: flex;
    flex-direction: column-reverse;
    line-height: 2em;
    justify-content: space-between;
}

h2 {
    font-weight: 300;
}

.subcontent__prev {
    color: var(--accent)
}

.elipse {
    background: none;
    border: none;
    width: fit-content;
    align-self: flex-end;
    margin-top: 5px;
}


.work {
    background: var(--work)
}
