@use "./components/" as *;
@use "./variables" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $light-gray;
}

main.container {
  margin: 2em auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 60em;
}

.comments-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em;
  gap: 1.3em;

  &__profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;

    grid-column: 1 / span 2;

    img {
      width: 45px;
    }
  }

  &__content {
    grid-column: 1 / span 2;
  }

  &__btn {
    grid-column: 2 / span 2;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
  }

  &__counter {
    grid-column: 1 / span 1;
    display: flex;
  }

  &__ghost {
    display: none;
    grid-row: 3;
    justify-content: flex-start;
    grid-column: 1 / span 1;
  }

  @media screen and (min-width: 700px) {
    grid-template-columns: min-content 1fr 1fr;

    &__ghost {
      justify-content: flex-end;
      grid-column: 1 / span 3;
    }

    &__profile {
      grid-column: 2 / span 2;
      grid-row: 1;
    }

    &__btn {
      grid-column: 3 / span 3;
      grid-row: 1;
    }

    &__content {
      grid-column: 2 / span 2;
    }

    &__counter {
      grid-row: 1 / span 3;
    }
  }
}

.card__counter {
  @media screen and (min-width: 700px) {
    align-items: center;
    padding-inline: 0.5em 1.5em;
    justify-content: stretch;
  }
}

.card__counter .counter {
  background: $very-light-gray;
  padding: 0.5em;
  display: flex;
  gap: 0.8em;
  align-items: center;
  border-radius: $card-brdr;

  @media screen and (min-width: 700px) {
    flex-direction: column;
    gap: 1em;
    padding: 1em;
  }

  span {
    font-weight: map-get($fnt-wght, "bold");
    color: $moderate-blue;
  }
}

.card--comment {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .card__input {
    grid-column: 1 / span 3;
    grid-row: 1;
    width: 100%;
    outline: 1px solid darken($light-gray, 10%);
    border-radius: $card-brdr;

    &:focus-within {
      outline: 1px solid darken($light-gray, 20%);
    }
  }

  .card__profile {
    grid-column: 1 / span 1;
    grid-row: 2;

    justify-content: flex-start;
    align-items: flex-start;
  }

  .card__btn {
    grid-column: 2 / span 2;
    grid-row: 2;
    justify-content: end;
  }

  @media screen and (min-width: 700px) {
    grid-template-columns: 0.1fr 2fr 0.1fr;

    .card__input {
      grid-column: 2 / 2;
      grid-row: 1;
      width: 100%;
    }

    .card__profile {
      grid-column: 1 / 1;
      grid-row: 1;
      justify-content: end;
    }

    .card__btn {
      grid-column: 3 / 3;
      grid-row: 1;
      align-items: flex-start;
      justify-content: start;
    }
  }
}

.card__input .input {
  height: 7em;
  outline: none;
  padding: 0.5em;
  overflow-y: scroll;
  word-wrap: anywhere;
}
