@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --clr-primary: #e7d0fc;
        --clr-secondary: #a44de9;

        --clr-headings: #282828;
        --clr-sub-headings: #f5f5f5;

        --clr-text: #767676;
        --clr-bg: #ffffff;
    }

    .theme-dark {
        --clr-primary: #a44de9;
        --clr-secondary: #2c133f;

        --clr-headings: #dedede;
        --clr-sub-headings: #1f1f1f;
        --clr-text: wheat;

        --clr-bg: #050505;
    }
}
