@use 'reset';
@use 'variables' as *;
@use 'mixins' as *;


body {
  font-family: $main-font;
  background-color: $main-bg;

  @include bg-img('../images/bg-pattern.svg', no-repeat, top left)
}

main {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2em;
}


.hero__title {
  @include bg-img('../images/pattern-circles.svg', no-repeat, center, contain);
  padding: 2.5em 0;

  h2 {
    font-size: 1.4em;
    font-weight: $fnt-bold;
    color: $cta-bg;
  }

  p {
    line-height: 1.5;
    color: $text;
    font-size: .9em;
    margin-top: .5em;
  }
  span {
    display: block;
  }

  @media only screen and(min-width: $large-screen) {
    h2 {
      font-size: 1.7em;
    }

    span {
      display: inline-block;

    }
  }

}


.hero__card {
  width: 90%;
  max-width: 600px;

  border-radius: 10px;
  background: white;

  box-shadow: 0 0 15px hsla(227, 35%, 25%, 0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7em;
  padding: 2em 0;

  @media screen and (min-width: $large-screen) {
    gap: 2.2em;
  }

  .card__section {
    gap: 2em;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $large-screen) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 70%;
    }
  }

}

.card__page-views {
  color: $text;
  text-transform: uppercase;
  font-weight: $fnt-bold;
  letter-spacing: 1.5px;
  font-size: .85em;
}

.card__pricing {
  display: flex;
  align-items: center;
  gap: .8em;
  
  h1 {
    font-size: 2.5em;
    font-weight: $fnt-bold; 
    color: $cta-bg;
  }
  

  p {
    color: $text;
  }
}
 

.card__slider {
  width: 90%;

  .slider  {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: .7em;
    background: $full-slider;
    border-radius: 20px;
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    cursor: pointer;
    outline: none;

    &:hover, &:focus {
      opacity: 1
    }

  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    box-shadow: 0 0 40px $slider-bg;
    border-radius: 50%;
    background: $slider-bg;
    @include bg-img('../images/icon-slider.svg', no-repeat, center);
    @include w-n-h(40);
  }
}

.card__billing-plan {
  display: flex;
  align-items: center;

  gap: .5em;

  @media screen and(max-width: $small-screen) {
    gap: .1em; 
  }

  .billing-plan__plan {
    font-size: .9em;
    color: $text;
  }

  .billing-plan__plan--yearly {
    position: relative;
  }

  .billing-plan__plan--yearly::after {
    content: '-25%';
    position: absolute;
    right: -50%;
    top: 50%;
    transform: translateY(-50%);

    background: $discount-bg;
    color: $discount-text;
    padding: .4em .5em;
    font-size: .8em;
    border-radius: 20px;


    @media screen and(max-width: $small-screen) {
      left: 50%;
      top: 130%;
      transform: translateX(-50%);
      width: fit-content;
    }
  }

}


.billing-plan__toggle {
  margin: 0 .5em;
}
  
.billing-plan__toggle input[type=checkbox] {
  position: relative;
  @include w-n-h(50, 25);
  border-radius: 20px;
  -webkit-appearance: none;
  opacity: 0.8;
  background: $toggle-bg;
  cursor: pointer;
  outline: none;

  &:hover, &:active {
    opacity: 1;
  }

  &::before {
    content: '';
    position: absolute;
    @include w-n-h(15);
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border-radius: 50%;
    transition: left .3s ease-in-out;
    left: 10%;
  }

  &:checked::before {
    left: 60%;
  }
}

.card__divider {
  width: 100%;
  height: 1px;
  background: $cta-bg;
  border: none;
  opacity: 0.2;
}


.card__features {
  color: $text;
  font-size: 1em;
  line-height: 1.5;

  li {
    position: relative;
  }

  li::before {
    content: '';
    @include bg-img('../images/icon-check.svg', no-repeat, center, 100%);
    @include w-n-h(10);
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
  }

  @media only screen and(min-width: $large-screen) {
    li::before {
      left: -20px;
    }

  }

}

.card__button {
  background: $cta-bg;
  border: none;
  padding: 1.2em 2.7em;
  font-size: .8em;
  font-weight: $fnt-medium;
  border-radius: 30px;
  color: $cta-text;
  cursor: pointer;
  transition: color .2s ease;
  
  &:hover {
    color: white;
  }

  @media only screen and(min-width: $large-screen) {
    padding: 1em 2.5em;
  }

}
