// @import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);

$main-font: "Commissioner", sans-serif;
$fnt-size: 16px;

$hr-width: 75px;

$btn-font: 1.1em;
$card-padding: 1.5em;
$card-title-font: 1.4em;
$card-line-height: 1.5em;

$f-regular: 400;
$f-medium: 500;
$f-bold: 600;
